<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.royal.admin.modular.system.mapper.CommodityMapper">

    <select id="selectCommodity" resultType="map">
        select
            commodity_id AS commodityId,
            commodity_name AS commodityName,
            commodity_img AS commodityImg,
            commodity_desc AS commodityDesc,
            grade AS grade,
            create_time AS createTime,
            update_time AS updateTime,
            commodity_status AS commodityStatus
        from b_commodity
        where 1=1
        <if test="name != null and name != ''">
            and commodity_name like CONCAT('%',#{name},'%'))
        </if>
        <if test="beginTime != null and beginTime != '' and endTime != null and endTime != ''">
            and (create_time between CONCAT(#{beginTime},' 00:00:00') and CONCAT(#{endTime},' 23:59:59'))
        </if>
    </select>

    <update id="updateStatusById">
		update b_commodity set commodity_status = #{status},update_time = now() where commodity_id = #{commodityId}
	</update>

    <select id="selectGoodsInfo" resultType="map">
        select
            commodity_id AS commodityId,
            commodity_name AS commodityName,
            commodity_img AS commodityImg,
            grade AS grade,
            commodity_status AS commodityStatus,
            #{floorId} AS floorId
        from b_commodity
        where
            commodity_status = 'PUTAWAY'
    </select>

    <select id="selectHistogram" resultType="com.royal.admin.modular.system.model.echarts.XYDate">
        SELECT
            COUNT(a.goodId) AS number,
            a.createTime AS date
        FROM
            (
            SELECT
	            good_id goodId,
	            SUBSTR(create_time,1,10) createTime
            FROM
	            b_order
            WHERE
	            b_status = 5) AS a
        GROUP BY
            a.createTime
        ORDER BY
            a.createTime DESC
        LIMIT 10
    </select>

    <select id="selectPie" resultType="map">
        SELECT
	        b.commodity_name AS name,
	        a.value
        FROM
	        (SELECT
			    good_id,
			    COUNT(b_id) AS value
		    FROM
			    b_order
		    WHERE
			    b_status = 5
			and good_id is not null
		    GROUP BY
			    good_id
	        ) AS a
        LEFT JOIN b_commodity b ON a.good_id = b.commodity_id
    </select>

    <select id="selectLine" resultType="map">
        SELECT
	        SUBSTR(create_time, 1, 10) AS date,
	        COUNT(b_id) AS number
        FROM
	        b_order
        GROUP BY
	        date
        ORDER BY
	        date
    </select>

</mapper>
