<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.royal.admin.modular.system.mapper.SpfzMapper">

    <select id="selectSpfzAndFloor" resultType="map">
        SELECT
        	#{id} AS baseId,
	        a.b_id AS spfzId,
	        b.floor_id AS floorId,
	        b.floor_status AS floorStatus,
	        b.display_code AS displayCode,
	        c.commodity_name AS commodityName,
	        b.grade,
	        b.stock
        FROM
	        b_floor b
        LEFT JOIN b_spfz a ON INSTR(
	        a.floor_codes,
	        b.display_code
        )
        AND a.b_id = #{id}
        LEFT JOIN b_commodity c ON c.commodity_id = b.goods_id
        WHERE
	        b.machine_id = #{machinesId}
        ORDER BY
	        b.display_code
    </select>

	<select id="fzList" resultType="com.royal.admin.modular.system.model.GoodsList">
		SELECT
			b.difficulty,
			a.floor_id AS id,
			b.commodity_img AS commodityImg,
			b.commodity_name AS commodityName,
			a.floor_name AS commodityDesc
		FROM
			b_floor a
		LEFT JOIN b_commodity b ON a.goods_id = b.commodity_id
		WHERE
			a.machine_id = #{machinesId}
		AND a.goods_id IS NOT NULL
		AND a.floor_name IS NOT NULL
		AND b.difficulty IS NOT NULL
		ORDER BY
			a.floor_name
	</select>

	<select id="getFloorListBySpfzId" resultType="com.royal.admin.modular.system.entity.Floor">
        SELECT
            b.create_time AS createTime,
            b.display_code AS displayCode,
            b.floor_code AS floorCode,
            b.floor_id AS floorId,
            b.floor_status AS floorStatus,
            b.goods_id AS goodsId,
            b.grade AS grade,
            b.machine_id AS machineId,
            b.stock,
            b.update_time AS updateTime
        FROM
            b_spfz a
        LEFT JOIN b_floor b ON INSTR(
            a.floor_codes,
            b.display_code
        )
        WHERE
            a.b_id = #{spfzId}
            AND b.grade &lt;= #{grade}
        ORDER BY
            b.grade DESC
        LIMIT 1
    </select>
</mapper>
